Source: neuroslink-meta
Section: metapackages
Priority: optional
Maintainer: Tom Bruno <tbruno@neurostechnology.com>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), germinate (>= 0.28)

Package: neuroslink-desktop-nvidia
Architecture: any
Depends: ${neuroslink-desktop-nvidia:Depends}
Recommends: ${neuroslink-desktop-nvidia:Recommends}
Conflicts: neuroslink-desktop-ati, neuroslink-desktop-open
Description: The Neuros Link standalone system
 This package depends on all of the packages in the Neuros Link standalone system.
 This set of packages provides the essentials for an operable Neuros Link
 system. This configuration is limited to Neuros Link hardware and therefore
 installs non-free drivers for Nvidia automatically.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: neuroslink-desktop-ati
Architecture: any
Depends: ${neuroslink-desktop-ati:Depends}
Recommends: ${neuroslink-desktop-ati:Recommends}
Conflicts: neuroslink-desktop-nvidia, neuroslink-desktop-open
Description: The Neuros Link standalone system
 This package depends on all of the packages in the Neuros Link standalone system.
 This set of packages provides the essentials for an operable Neuros Link
 system. This configuration is limited to Neuros Link hardware and therefore
 installs non-free drivers for ATI automatically.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

Package: neuroslink-desktop-open
Architecture: any
Depends: ${neuroslink-desktop-open:Depends}
Recommends: ${neuroslink-desktop-open:Recommends}
Conflicts: neuroslink-desktop-nvidia, neuroslink-desktop-ati
Description: The Neuros Link standalone system
 This package depends on all of the packages in the Neuros Link standalone system.
 This set of packages provides the essentials for an operable Neuros Link
 system. This configuration is not limited to Neuros Link hardware and 
 can be installed on any system.
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.


